USE [master]
GO
/****** Object:  Database [dbYazOkulu]    Script Date: 19.03.2021 21:14:32 ******/
CREATE DATABASE [dbYazOkulu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbYazOkulu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbYazOkulu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbYazOkulu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbYazOkulu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbYazOkulu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbYazOkulu]
GO
/****** Object:  Table [dbo].[TBLBASVURUFORM]    Script Date: 19.03.2021 21:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLBASVURUFORM](
	[BASVURUID] [int] IDENTITY(1,1) NOT NULL,
	[OGRENCIID] [int] NULL,
	[DERSID] [int] NULL,
 CONSTRAINT [PK_TBLBASVURUFORM] PRIMARY KEY CLUSTERED 
(
	[BASVURUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLDERSLER]    Script Date: 19.03.2021 21:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERSLER](
	[DERSID] [int] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](50) NULL,
	[DERSMINKONT] [tinyint] NULL,
	[DERSMAKSKONT] [tinyint] NULL,
 CONSTRAINT [PK_TBLDERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRENCI]    Script Date: 19.03.2021 21:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRENCI](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[OGRAD] [varchar](50) NULL,
	[OGRSOYAD] [nvarchar](50) NULL,
	[OGRNUMARA] [varchar](5) NULL,
	[OGRFOTO] [varchar](500) NULL,
	[OGRSIFRE] [varchar](10) NULL,
	[OGRBAKIYE] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBLOGRENCİ] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRETMEN]    Script Date: 19.03.2021 21:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRETMEN](
	[OGRTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRTADSOYAD] [nvarchar](50) NULL,
	[OGRTBRANS] [int] NULL,
 CONSTRAINT [PK_TBLOGRETMEN] PRIMARY KEY CLUSTERED 
(
	[OGRTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLOGRENCI] ADD  CONSTRAINT [DF_TBLOGRENCİ_OGRBAKİYE]  DEFAULT ((0)) FOR [OGRBAKIYE]
GO
ALTER TABLE [dbo].[TBLBASVURUFORM]  WITH CHECK ADD  CONSTRAINT [FK_TBLBASVURUFORM_TBLDERSLER] FOREIGN KEY([DERSID])
REFERENCES [dbo].[TBLDERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBLBASVURUFORM] CHECK CONSTRAINT [FK_TBLBASVURUFORM_TBLDERSLER]
GO
ALTER TABLE [dbo].[TBLBASVURUFORM]  WITH CHECK ADD  CONSTRAINT [FK_TBLBASVURUFORM_TBLOGRENCİ] FOREIGN KEY([OGRENCIID])
REFERENCES [dbo].[TBLOGRENCI] ([OGRID])
GO
ALTER TABLE [dbo].[TBLBASVURUFORM] CHECK CONSTRAINT [FK_TBLBASVURUFORM_TBLOGRENCİ]
GO
ALTER TABLE [dbo].[TBLOGRETMEN]  WITH CHECK ADD  CONSTRAINT [FK_TBLOGRETMEN_TBLDERSLER] FOREIGN KEY([OGRTBRANS])
REFERENCES [dbo].[TBLDERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBLOGRETMEN] CHECK CONSTRAINT [FK_TBLOGRETMEN_TBLDERSLER]
GO
USE [master]
GO
